@model List<JobFilter2.Models.Entities.BlockForever>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">永久封鎖的列表</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th>公司名稱</th>
                                        <th>封鎖理由</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sequence = 0;
                                        foreach (var blockForever in Model)
                                        {
                                            sequence++;
                                                <tr class="gradeA">
                                                    <td style="display:none;">@sequence</td>
                                                    <td>@blockForever.CompanyName</td>
                                                    <td>@blockForever.BlockReason</td>
                                                </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>