@model List<JobFilter2.Models.Entities.BlockForever>

<script>
    function BlockForever() {
        (async () => {
            const { value: formValues } = await Swal.fire({
                width: 600,
                title: '輸入公司名稱與封鎖理由',
                html:
                    '<input id="swal-input1" class="swal2-input" style="width:80%; font-size:20px;" autocomplete="off" placeholder="公司名稱">' +
                    '<input id="swal-input2" class="swal2-input" style="width:80%; font-size:20px;" autocomplete="off" placeholder="封鎖理由">',
                focusConfirm: false,
                showCancelButton: true,
                customClass: {
                    title: 'swal-title-font-size',
                    closeButton: 'swal-button-font-size',
                    confirmButton: 'swal-button-font-size',
                    cancelButton: 'swal-button-font-size',
                },
                preConfirm: () => {
                    if (document.getElementById('swal-input1').value.length == 0) {
                        Swal.showValidationMessage('<span style="font-size:24px;">公司名稱不可為空</span>');
                        return;
                    }
                    if (document.getElementById('swal-input2').value.length == 0) {
                        Swal.showValidationMessage('<span style="font-size:24px;">封鎖理由不可為空</span>');
                        return;
                    }
                    return [
                        document.getElementById('swal-input1').value,
                        document.getElementById('swal-input2').value
                    ]
                }
            })
            if (formValues) {
                let CompanyName = formValues[0];
                let BlockReason = formValues[1];
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BlockForever", "BlockCompany")',
                    data: { CompanyName: CompanyName, BlockReason: BlockReason }
                })
                .done(function (result) {
                    if (result === "封鎖成功") {
                        self.location.reload();
                    }
                    else {
                        Swal.fire({
                            title: "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }
        })()
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">永久封鎖的列表</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-primary" onclick="BlockForever()">新增永久封鎖</button>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th>公司名稱</th>
                                        <th>封鎖理由</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sequence = 0;
                                        foreach (var blockForever in Model)
                                        {
                                            sequence++;
                                                <tr class="gradeA">
                                                    <td style="display:none;">@sequence</td>
                                                    <td>@blockForever.CompanyName</td>
                                                    <td>@blockForever.BlockReason</td>
                                                </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>